:root {
  --shadow-color: 270deg 100% 40%;
  --shadow-elevation-low:
          1px 0.9px 1.5px hsl(var(--shadow-color) / 0.34),
          1.6px 1.6px 2.5px -1.2px hsl(var(--shadow-color) / 0.34),
          3.9px 3.8px 6.1px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium:
          1px 0.9px 1.5px hsl(var(--shadow-color) / 0.36),
          3.2px 3.1px 5px -0.8px hsl(var(--shadow-color) / 0.36),
          8.1px 7.8px 12.7px -1.7px hsl(var(--shadow-color) / 0.36),
          19.7px 18.9px 30.7px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high:
          1px 0.9px 1.5px hsl(var(--shadow-color) / 0.34),
          5.7px 5.5px 8.9px -0.4px hsl(var(--shadow-color) / 0.34),
          10.7px 10.3px 16.7px -0.7px hsl(var(--shadow-color) / 0.34),
          17.6px 16.9px 27.5px -1.1px hsl(var(--shadow-color) / 0.34),
          28.1px 27px 43.8px -1.4px hsl(var(--shadow-color) / 0.34),
          43.9px 42.2px 68.5px -1.8px hsl(var(--shadow-color) / 0.34),
          66.7px 64.2px 104.1px -2.1px hsl(var(--shadow-color) / 0.34),
          98.3px 94.6px 153.5px -2.5px hsl(var(--shadow-color) / 0.34);
}

body {
  background-color: hsl(0 0% 20%);
  margin: 18pt;
  row-gap: 18pt;
}
main {
  display: flex;
  flex-direction: column;

  margin-inline: 18pt;
  flex-grow: 1;
}

nav {
  margin-top: -45px;
  width: 100%;
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;

  background-color: hsl(270 100% 40%);

  border: 2pt solid white;
  border-radius: 18pt;
  box-shadow: var(--shadow-elevation-medium);
  ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 15px;
    li {
      display: inline;
      font-family: "Fira Sans", sans-serif;
      font-size: 17px;
      a {
        font-size: 24px;
        font-weight: bolder;

        font-family: system-ui, sans-serif;
        text-decoration: none;

        padding: 4pt;
        margin: 4pt;

        color: white;

        border: 4pt solid hsl(270 100% 40%);
        &:hover {
          background-color: #111;
        }
        :not(:first-child){
          text-transform: uppercase;
        }
        :visited{
          color: #ffff
        }
        :active {
          border-color: #ffff;
        }
      }
    }
  }
}
.ticket-container {
  display: grid;
  grid-template-columns: repeat(auto-fill,min(calc(100% / 7)));

  div {
    font-size: 1.95em;
    color: #ffffff;
    text-align: center;
    background-color: hsl(270 100% 40%);
    height: fit-content;
    width: 175px;
    border: 1px solid #ffffff;
    a {
      text-decoration: none;
      color: #ffffff;
      font-size: 18px;
      &:hover {
        text-decoration: underline;
      }
      p {
        background-color: green;
        &:first-child {
          border-top: 2px solid #ffffff;
          }
        }
      }

    }
  }

.movie-home {
  * {
    color: #ffffff;
  }
}
.movie-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  .title {
    width: 210px;
    font-size: 1.225em;
  }
  p {
    color: #ffffff;
  }
  img {
    margin: 5px 0 5px 0;
    width: 210px;
  }
  button {
    margin: 15px 0 15px 0;
  }
  details {
    color: #ffffff;
    max-width: 210px;
    summary {
      margin-top: 1em;
      list-style: none;
      text-decoration: underline;
      background-color: hsl(270 100% 40%);;
      width: 210px;
      text-align: center;
      border: 1px solid #ffffff;
      }
    a {
      color: #ffffff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
    }
  }
  div {
    margin: 2px;
    justify-items: center;
  }
  .genre {
    max-width: 210px;
  }
.btn  {
  &__buy {
    display: inline-block;
    text-align: center;

    border: 1px solid #ffffff;
    width: 210px;
    height: fit-content;
    margin-top: 5px;
    background-color: hsl(270 100% 40%);
    color: #ffffff;
    &:hover,
    &:focus-visible {
      transform: scale(1.055);
      outline: none;
    }
  }
  &__reserve {
    width: fit-content;
    height: 5em;
    left: 4%;
    background-color: hsl(270 100% 40%);
    border-radius: 10%;
    color: #ffffff;
    position: relative;
  }
  th {
    background-color: hsl(270 100% 40%);
    padding: 8px;
    font-size: 16px;
  }
  td,
  tr {
    background-color: green;
    font-size: 1.25em;
    border: 1px solid #ffffff;
    a {
      padding: 24px 12px;
      display: block;
    }
    }
  }

  // Section responsive table
  @media only screen and (max-width: 870px) {
    table,
    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
    }
    thead {
      tr {
        position: absolute;
      }
    }
    tr {
      border: 1px solid #ffffff;
    }
    td {
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 50%;
    }
    td:before {
      position: absolute;
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
    }
    td:nth-of-type(1):before { content: "Monday"; justify-content: center }
    td:nth-of-type(2):before { content: "Tuesday"; }
    td:nth-of-type(3):before { content: "Wednesday"; }
    td:nth-of-type(4):before { content: "Thursday"; }
    td:nth-of-type(5):before { content: "Friday"; }
    td:nth-of-type(6):before { content: "Saturday"; }
    td:nth-of-type(7):before { content: "Sunday"; }
  }


.movie-posters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-items: flex-start;
  justify-content: space-between;

  gap: 18pt;

  .movie-poster {
    width: 200pt;
  }
}

table {
  overflow-x: auto;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border-spacing: 0;
  max-width: 100%;
  width: 100%;
  td,
  th {
    text-align: center;
    border: 1px solid #ddd;
    color: #ffffff;
    &:hover,
    &:focus-visible {
      transform: scale(1.055);
      outline: none;
    }
  }
}

table {
  overflow-x: auto;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border-spacing: 0;
  max-width: 100%;
  width: 100%;
  table-layout: fixed;
  td,
  th {
    text-align: center;
    border: 1px solid #ddd;
    color: #ffffff;
  }
  th {
    background-color: hsl(270 100% 40%);
    padding: 8px;
    font-size: 16px;
  }
  td {
    background-color: green;
    font-size: 1.25em;
    border: 1px solid #ffffff;
    a {
      padding: 24px 12px;
      display: block;
    }
    td:nth-child(3n+1){
      background-color: grey;
    }
  }

  // Section responsive table
  @media only screen and (max-width: 870px) {
    table,
    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
    }
    thead {
      tr {
        position: absolute;
      }
    }
    tr {
      border: 1px solid #ffffff;
    }
    td {
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 50%;
    }
    td:before {
      position: absolute;
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
    }
    td:nth-of-type(1):before { content: "Monday"; justify-content: center }
    td:nth-of-type(2):before { content: "Tuesday"; }
    td:nth-of-type(3):before { content: "Wednesday"; }
    td:nth-of-type(4):before { content: "Thursday"; }
    td:nth-of-type(5):before { content: "Friday"; }
    td:nth-of-type(6):before { content: "Saturday"; }
    td:nth-of-type(7):before { content: "Sunday"; }
  }

}


