body {
  margin: 0;
  box-sizing: border-box;
}
nav {
  height: 5em;
  background-color: green;
  width: 100%;
  max-width: 100vw;

  a {
    color: aliceblue;
    text-decoration: none;
    font-size: 1.725em;
  }

  li {
    display: inline-block;
    a {
      text-decoration: none;
      color: aliceblue;
      font-size: 1.5em;
      margin-left: 1.2em;
    }
    a:hover {
      background-color: #666;
    }
  }
}
.active {
  background-color: #666;
}