:root {
  --shadow-color: 270deg 100% 40%;
  --shadow-elevation-low:
          1px 0.9px 1.5px hsl(var(--shadow-color) / 0.34),
          1.6px 1.6px 2.5px -1.2px hsl(var(--shadow-color) / 0.34),
          3.9px 3.8px 6.1px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium:
          1px 0.9px 1.5px hsl(var(--shadow-color) / 0.36),
          3.2px 3.1px 5px -0.8px hsl(var(--shadow-color) / 0.36),
          8.1px 7.8px 12.7px -1.7px hsl(var(--shadow-color) / 0.36),
          19.7px 18.9px 30.7px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high:
          1px 0.9px 1.5px hsl(var(--shadow-color) / 0.34),
          5.7px 5.5px 8.9px -0.4px hsl(var(--shadow-color) / 0.34),
          10.7px 10.3px 16.7px -0.7px hsl(var(--shadow-color) / 0.34),
          17.6px 16.9px 27.5px -1.1px hsl(var(--shadow-color) / 0.34),
          28.1px 27px 43.8px -1.4px hsl(var(--shadow-color) / 0.34),
          43.9px 42.2px 68.5px -1.8px hsl(var(--shadow-color) / 0.34),
          66.7px 64.2px 104.1px -2.1px hsl(var(--shadow-color) / 0.34),
          98.3px 94.6px 153.5px -2.5px hsl(var(--shadow-color) / 0.34);
  --red-seat-background:
          linear-gradient(to top, hsl(0, 66%, 28%), hsl(0, 66%, 28%), hsl(0, 66%, 28%), hsl(0, 66%, 28%), hsl(0, 66%, 28%), hsl(359, 48%, 48%), hsl(359, 85%, 68%));
  --purple-seat-background:
          linear-gradient(to top, hsl(269, 66%, 28%), hsl(269, 66%, 28%), hsl(269, 66%, 28%), hsl(269, 66%, 28%), hsl(269, 66%, 28%), hsl(269, 48%, 48%), hsl(269, 85%, 68%));
}

body {
  background-color: hsl(0deg, 0%, 20%);
  margin: 18pt;
  row-gap: 18pt;
}

main {
  display: flex;
  flex-direction: column;
  margin-inline: 18pt;
  flex-grow: 1;
}

nav {
  margin-top: -45px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: hsl(270deg, 100%, 40%);
  border: 2pt solid white;
  border-radius: 18pt;
  box-shadow: var(--shadow-elevation-medium);
}
nav ul {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 15px;
}
nav ul li {
  display: inline;
  font-family: "Fira Sans", sans-serif;
  font-size: 17px;
}
nav ul li a {
  font-size: 24px;
  font-weight: bolder;
  font-family: system-ui, sans-serif;
  text-decoration: none;
  padding: 4pt;
  margin: 4pt;
  color: white;
  border: 4pt solid hsl(270deg, 100%, 40%);
}
nav ul li a:hover {
  background-color: #111;
}
nav ul li a :not(:first-child) {
  text-transform: uppercase;
}
nav ul li a :visited {
  color: white;
}
nav ul li a :active {
  border-color: white;
}

.ticket-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 14.2857142857%);
}
.ticket-container div {
  font-size: 1.95em;
  color: #ffffff;
  text-align: center;
  background-color: hsl(270deg, 100%, 40%);
  height: fit-content;
  width: 175px;
  border: 1px solid #ffffff;
}
.ticket-container div a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
}
.ticket-container div a:hover {
  text-decoration: underline;
}
.ticket-container div a p {
  background-color: green;
}
.ticket-container div a p:first-child {
  border-top: 2px solid #ffffff;
}

.movie-home * {
  color: #ffffff;
}

.movie-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.movie-container .title {
  width: 210px;
  font-size: 1.225em;
}
.movie-container p {
  color: #ffffff;
}
.movie-container img {
  margin: 5px 0 5px 0;
  width: 210px;
}
.movie-container button {
  margin: 15px 0 15px 0;
}
.movie-container details {
  color: #ffffff;
  max-width: 210px;
}
.movie-container details summary {
  margin-top: 1em;
  list-style: none;
  text-decoration: underline;
  background-color: hsl(270deg, 100%, 40%);
  width: 210px;
  text-align: center;
  border: 1px solid #ffffff;
}
.movie-container details a {
  color: #ffffff;
  text-decoration: none;
}
.movie-container details a:hover {
  text-decoration: underline;
}

div {
  margin: 2px;
  justify-items: center;
}

.genre {
  max-width: 210px;
}

.btn__buy {
  display: inline-block;
  text-align: center;
  border: 1px solid #ffffff;
  width: 210px;
  height: fit-content;
  margin-top: 5px;
  background-color: hsl(270deg, 100%, 40%);
  color: #ffffff;
}
.btn__buy:hover, .btn__buy:focus-visible {
  transform: scale(1.055);
  outline: none;
}
.btn__reserve {
  width: fit-content;
  height: 5em;
  background-color: hsl(270deg, 100%, 40%);
  border-radius: 10%;
  color: #ffffff;
  position: absolute;
  left: 42%;
  top: -65%;
  z-index: -1;
}
.btn th {
  background-color: hsl(270deg, 100%, 40%);
  padding: 8px;
  font-size: 16px;
}
.btn td,
.btn tr {
  background-color: green;
  font-size: 1.25em;
  border: 1px solid #ffffff;
}
.btn td a,
.btn tr a {
  padding: 24px 12px;
  display: block;
}

@media only screen and (max-width: 870px) {
  table,
thead,
tbody,
th,
td,
tr {
    display: block;
  }

  thead tr {
    position: absolute;
  }

  tr {
    border: 1px solid #ffffff;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  td:nth-of-type(1):before {
    content: "Monday";
    justify-content: center;
  }

  td:nth-of-type(2):before {
    content: "Tuesday";
  }

  td:nth-of-type(3):before {
    content: "Wednesday";
  }

  td:nth-of-type(4):before {
    content: "Thursday";
  }

  td:nth-of-type(5):before {
    content: "Friday";
  }

  td:nth-of-type(6):before {
    content: "Saturday";
  }

  td:nth-of-type(7):before {
    content: "Sunday";
  }
}
.movie-posters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: flex-start;
  justify-content: space-between;
  gap: 18pt;
}
.movie-posters .movie-poster {
  width: 200pt;
}

table {
  overflow-x: auto;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border-spacing: 0;
  max-width: 100%;
  width: 100%;
}
table td,
table th {
  text-align: center;
  border: 1px solid #ddd;
  color: #ffffff;
}
table td:hover, table td:focus-visible,
table th:hover,
table th:focus-visible {
  transform: scale(1.055);
  outline: none;
}

table {
  overflow-x: auto;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border-spacing: 0;
  max-width: 100%;
  width: 100%;
  table-layout: fixed;
}
table td,
table th {
  text-align: center;
  border: 1px solid #ddd;
  color: #ffffff;
}
table th {
  background-color: hsl(270deg, 100%, 40%);
  padding: 8px;
  font-size: 16px;
}
table td {
  background-color: green;
  font-size: 1.25em;
  border: 1px solid #ffffff;
}
table td a {
  padding: 24px 12px;
  display: block;
}
table td td:nth-child(3n+1) {
  background-color: grey;
}
@media only screen and (max-width: 870px) {
  table table,
table thead,
table tbody,
table th,
table td,
table tr {
    display: block;
  }
  table thead tr {
    position: absolute;
  }
  table tr {
    border: 1px solid #ffffff;
  }
  table td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }
  table td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  table td:nth-of-type(1):before {
    content: "Monday";
    justify-content: center;
  }
  table td:nth-of-type(2):before {
    content: "Tuesday";
  }
  table td:nth-of-type(3):before {
    content: "Wednesday";
  }
  table td:nth-of-type(4):before {
    content: "Thursday";
  }
  table td:nth-of-type(5):before {
    content: "Friday";
  }
  table td:nth-of-type(6):before {
    content: "Saturday";
  }
  table td:nth-of-type(7):before {
    content: "Sunday";
  }
}

.theatre {
  display: flex;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cinema-seats {
  display: flex;
}
.cinema-seats .seat {
  cursor: pointer;
}
.cinema-seats .seat:hover:before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 7px;
}
.cinema-seats .seat.active:before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 7px;
}

.reserved {
  pointer-events: none !important;
  background: var(--purple-seat-background) !important;
}

.left .cinema-row {
  transform: skew(-15deg);
  margin: 0 6px;
}
.left .seat {
  width: 35px;
  height: 50px;
  border-radius: 7px;
  background: var(--red-seat-background);
  margin-bottom: 10px;
  transform: skew(20deg);
  margin-top: -32px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.left .row-2 {
  transform: skew(-13deg);
}
.left .row-2 .seat {
  transform: skew(18deg);
}
.left .row-3 {
  transform: skew(-12deg);
}
.left .row-3 .seat {
  transform: skew(16deg);
}
.left .row-4 {
  transform: skew(-11deg);
}
.left .row-4 .seat {
  transform: skew(15deg);
}
.left .row-5 {
  transform: skew(-10deg);
}
.left .row-5 .seat {
  transform: skew(12deg);
}
.left .row-6 {
  transform: skew(-9deg);
}
.left .row-6 .seat {
  transform: skew(10deg);
}
.left .row-7 {
  transform: skew(-7deg);
}
.left .row-7 .seat {
  transform: skew(8deg);
}

.right {
  margin-left: 70px;
}
.right .cinema-row {
  transform: skew(7deg);
  margin: 0 6px;
}
.right .seat {
  width: 35px;
  height: 50px;
  border-radius: 7px;
  background: linear-gradient(to top, #761818, #761818, #761818, #761818, #761818, #B54041, #F3686A);
  margin-bottom: 10px;
  transform: skew(-8deg);
  margin-top: -32px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.right .row-2 {
  transform: skew(9deg);
}
.right .row-2 .seat {
  transform: skew(-10deg);
}
.right .row-3 {
  transform: skew(10deg);
}
.right .row-3 .seat {
  transform: skew(-12deg);
}
.right .row-4 {
  transform: skew(11deg);
}
.right .row-4 .seat {
  transform: skew(-15deg);
}
.right .row-5 {
  transform: skew(12deg);
}
.right .row-5 .seat {
  transform: skew(-16deg);
}
.right .row-6 {
  transform: skew(13deg);
}
.right .row-6 .seat {
  transform: skew(-18deg);
}
.right .row-7 {
  transform: skew(15deg);
}
.right .row-7 .seat {
  transform: skew(-20deg);
}

/*# sourceMappingURL=style.css.map */
